<div class="d-flex justify-content-between mb-4 w-100">
  <div class="d-flex flex-column me-3">
    <h1 class="d-flex text-dark fw-bold my-1 fs-5">Purchase Order #{{ purchaseOrder.number }}</h1>
    <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1 align-items-center">
      <li class="breadcrumb-item text-gray-600">
        <a routerLink="/" class="text-gray-600 fs-8 text-hover-primary">Home</a>
      </li>
      <li class="breadcrumb-item fs-8 text-gray-600">
        <a routerLink="{{ routes.inventory.purchase_orders.index }}"
          class="text-gray-600 fs-8 text-hover-primary">Purchase Orders</a>
      </li>
      <li class="breadcrumb-item fs-8 text-gray-500">Show Purchase Order</li>
    </ul>
  </div>
  <div class="d-flex align-items-center py-2 py-md-1">
    <a appPermission [permissionArray]="[['payments', 3]]" (click)="addPurchasePayment()"
      class="btn btn-lg btn-primary me-2">
      <i class="bi bi-plus-lg fw-bold me-2"></i> Add Payment</a>
    <div ngbDropdown appPermission [permissionArray]="[['purchase_orders', 3]]" container="body" display="dynamic"
      placement="bottom-end">
      <button type="button" class="btn btn-primary me-2 btn-lg fw-bold" ngbDropdownToggle>
        <i class="bi bi-three-dots mt-1 me-2"></i> More Options
        <span class="ms-2">
          <img src="../../../assets/icons/caret-white.svg" alt="" />
        </span>
      </button>
      <div ngbDropdownMenu>
        <a appPermission (click)="addPurchaseRefund()" [permissionArray]="[['receipts', 3]]" ngbDropdownItem>Add
          Purchase Order Refund</a>
      </div>
    </div>
    <button (click)="backClicked()" class="btn btn-lg btn-light">
      <i class="bi bi-arrow-left-short fs-4 me-2 mt-1"></i> Go Back
    </button>
  </div>
</div>
<div class="card av-nav w-100 mb-3">
  <div class="card-body py-0">
    <ul class="nav py-0">
      <li class="nav-item">
        <a class="nav-link {{ pageIsShow() ? 'active' : '' }}"
          [routerLink]="[routes.inventory.purchase_orders.show, purchaseOrder.uuid]">Purchase Order Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ pageIsPayments() ? 'active' : '' }}"
          [routerLink]="[routes.inventory.purchase_orders.payments, purchaseOrder.uuid]">Purchase Order Payments</a>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ pageIsRefunds() ? 'active' : '' }}"
          [routerLink]="[routes.inventory.purchase_orders.refunds, purchaseOrder.uuid]">Purchase Order Refunds</a>
      </li>
    </ul>
  </div>
</div>
