<div class="main-page">
  <div class="row vh-100 d-flex justify-content-center">
    <div class="col-md-6">
      <div class="h-100 d-flex align-items-center justify-content-center p-3">
        <div class="d-block form-container text-center px-3">
          <img src="../../../assets/images/logo-long.png" class="logo">
          <hr>
          <h3 class="card-title fs-4 my-4 fw-bold">Password Reset Complete</h3>
          <p>
            Your password was successfully reset. You can now <a [routerLink]="routes.authentication.login"
              class="fw-bold">sign in</a> using your
            primary email address.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
