<app-page-loading-overlay *ngIf="contactPerson == null"></app-page-loading-overlay>
<div *ngIf="contactPerson != null">
  <div class="d-flex justify-content-between mb-4 w-100">
    <div class="d-flex flex-column me-3">
      <h1 class="d-flex text-dark fw-bold my-1 fs-5">Contact Person: {{ contactPerson.contact_name }}</h1>
      <ul class="breadcrumb breadcrumb-dot fw-semibold text-gray-600 fs-7 my-1 align-items-center">
        <li class="breadcrumb-item text-gray-600">
          <a routerLink="/" class="text-gray-600 fs-8 text-hover-primary">Home</a>
        </li>
        <li class="breadcrumb-item fs-8 text-gray-600">
          <a routerLink="{{ routes.people.contact_persons.index }}" class="text-gray-600 fs-8 text-hover-primary">Contact
            Persons</a>
        </li>
        <li class="breadcrumb-item fs-8 text-gray-500">Show Contact Person</li>
      </ul>
    </div>
    <div class="d-flex align-items-center py-2 py-md-1">
      <button (click)="backClicked()" class="btn btn-lg btn-light">
        <i class="bi bi-arrow-left-short fs-4 me-2 mt-1"></i> Go Back
      </button>
    </div>
  </div>
  <div class="card w-100 mb-5">
    <app-loading-overlay *ngIf="loading"></app-loading-overlay>
    <div class="row">
      <div class="col-md-8">
        <div class="card-title m-0">
          <h3 class="fw-bold m-0 p-4 fs-6">Contact Person Details</h3>
        </div>

        <div class="card-body border-top p-4">
          <div *ngIf="contactPerson.supplier" class="row mb-1">
            <label class="col-lg-4 col-form-label fw-semibold fs-8">Supplier</label>
            <div class="col-lg-8">
              <div class="input-group flex-nowrap">
                <input class="form-control form-control-lg form-control-solid" value="{{ contactPerson.supplier.name }}"
                  disabled />
                <a class="input-group-text bg-primary text-white border-primary"
                  [routerLink]="[routes.people.suppliers.show, contactPerson.supplier.uuid]">
                  <i class="bi bi-box-arrow-up-right fw-bold"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <label class="col-lg-4 col-form-label fw-semibold fs-8">Contact Person Name</label>
            <div class="col-lg-8">
              <input type="text" value="{{ contactPerson.contact_name }}"
                class="form-control form-control-lg form-control-solid" disabled />
            </div>
          </div>

          <div class="row mb-1">
            <label class="col-lg-4 col-form-label fw-semibold fs-8">Phone Number </label>
            <div class="col-lg-8">
              <input type="text" value="{{ contactPerson.phone_number ?? '--' }}"
                class="form-control form-control-lg form-control-solid" disabled />
            </div>
          </div>

          <div class="row mb-1">
            <label class="col-lg-4 col-form-label fw-semibold fs-8">Email Address </label>
            <div class="col-lg-8">
              <div class="input-group flex-nowrap">
                <input type="text" value="{{ contactPerson.email ?? '--' }}"
                  class="form-control form-control-lg form-control-solid" disabled />
                <a *ngIf="contactPerson.email" class="input-group-text bg-primary text-white border-primary"
                  target="_blank" href="{{ 'mailto:' + contactPerson.email }}">
                  <i class="bi bi-envelope-at fw-semibold"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4 border-start">
        <div class="card-title m-0">
          <h3 class="fw-bold m-0 p-4 fs-6">More Info</h3>
        </div>
        <div class="card-body border-top p-4">
          <div class="row mb-3 d-flex justify-content-between align-items-center">
            <label class="col-xxl-4 text-gray-600 fw-semibold fs-8">Created By</label>
            <div class="col-xxl-8 d-flex justify-content-between align-items-center">
              <span class="fw-semibold text-gray-800">{{
              contactPerson.user?.name
            }}</span>
              <a class="" [routerLink]="[routes.administration.users.show, contactPerson.user?.uuid]">
                <i class="bi bi-box-arrow-up-right fw-bold"></i>
              </a>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-xxl-4 text-gray-600 fw-semibold fs-8">Created At</label>
            <div class="col-xxl-8">
              <span class="fw-semibold text-gray-800">{{
                contactPerson.date_created | date: "d MMM, yyyy HH:mm:ss"
            }}</span>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-xxl-4 text-gray-600 fw-semibold fs-8">Last Updated</label>
            <div class="col-xxl-8">
              <span class="fw-semibold text-gray-800">{{
                contactPerson.date_updated | date: "d MMM, yyyy HH:mm:ss"
            }}</span>
            </div>
          </div>
          <hr />
          <div class="d-flex align-items-center py-2 py-md-1">
            <button appPermission [permissionArray]="[['contact_persons', 4]]" (click)="confirmDelete()"
              class="btn btn-lg btn-danger me-2">
              <i class="bi bi-trash me-2 mt-1"></i> Delete
            </button>
            <a appPermission [permissionArray]="[['contact_persons', 3]]"
              [routerLink]="[routes.people.contact_persons.edit, contactPerson.uuid]" class="btn btn-lg btn-primary">
              <i class="bi bi-pencil-square me-2 mt-1"></i> Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
