<div class="main-page">
  <div class="row vh-100 d-flex justify-content-center">
    <div class="col-md-6">
      <div class="h-100 d-flex align-items-center justify-content-center p-3">
        <div class="d-block form-container text-center">
          <img src="../../../assets/images/logo-long.png" class="logo">
          <hr>
          <h3 class="card-title fs-4 my-4 fw-bold">Check Your Email</h3>
          <p>
            If we find {{ emailAddress }} in our system, we will send you an email with a link to reset your
            password.
          </p>
          <p>If you didn't receive the email, check your spam folder or <a [routerLink]="routes.static.contact"
              class="fw-bold"> contact us.</a>.</p>
          <p>Or try password reset using a <a [routerLink]="routes.authentication.forgot_password" class="fw-bold">
              different email address</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
