<div class="card w-100 mt-4 mb-5">
  <app-loading-overlay *ngIf="loading"></app-loading-overlay>

  <div class="card-title px-3 d-flex align-items-center justify-content-between m-0">
    <div class="d-flex btn-group align-items-center py-2 ">
      <a (click)="setSegment('1M')" placement="top" ngbTooltip="Past 1 Month"
        class="btn btn-lg {{ reportOptions.segment === '1M' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">1M</a>
      <a (click)="setSegment('3M')" placement="top" ngbTooltip="Past 3 Months"
        class="btn btn-lg {{ reportOptions.segment === '3M' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">3M</a>
      <a (click)="setSegment('6M')" placement="top" ngbTooltip="Past 6 Months"
        class="btn btn-lg {{ reportOptions.segment === '6M' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">6M</a>
      <a (click)="setSegment('1Y')" placement="top" ngbTooltip="Past 1 Year"
        class="btn btn-lg {{ reportOptions.segment === '1Y' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">1Y</a>
      <a (click)="setSegment('YTD')" placement="top" ngbTooltip="Year To Date"
        class="btn btn-lg {{ reportOptions.segment === 'YTD' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">YTD</a>
      <a (click)="setSegment('ALL')" placement="top" ngbTooltip="All Time"
        class="btn btn-lg {{ reportOptions.segment === 'ALL' ? 'btn-primary' : 'btn-light' }} fw-bold px-3">ALL</a>
    </div>

    <div class="card-toolbar d-flex py-2 align-items-center">
      <input type="date" [(ngModel)]="startDateString" (ngModelChange)="startDateChanged()"
        class="form-control av-input report-date-form form-control-solid d-inline" />
      <span class="text-gray-800 fs-7 ms-4 me-3 fw-bold">To</span>
      <input type="date" [(ngModel)]="endDateString" (ngModelChange)="endDateChanged()"
        class="form-control av-input report-date-form form-control-solid d-inline" />
    </div>
  </div>
  <div class="card-body border-top w-100 main-chart-container">
    <div class="table-responsive">
      <table class="table align-middle table-hover table-row-dashed fs-8 no-footer">
        <thead>
          <tr class="text-start text-gray-800 fs-8 text-uppercase">
            <th class="pb-3 fw-bold">
              <ng-template #date_createdCol [ngTemplateOutlet]="date_createdCol" let-field="field"
                [ngTemplateOutletContext]="{ field: 'date_created' }">
                <a (click)="changeSort(field)" href="javascript:void(0)">Date
                  <i *ngIf="paginationOptions.sort === field"
                    class="bi ms-3 {{ paginationOptions.directionIsAsc() ? 'bi-sort-up' : 'bi-sort-down' }}"></i>
                </a>
              </ng-template>
            </th>
            <th class="pb-3 fw-bold">
              <ng-template #typeCol [ngTemplateOutlet]="typeCol" let-field="field"
                [ngTemplateOutletContext]="{ field: 'type' }">
                <a (click)="changeSort(field)" href="javascript:void(0)">Method
                  <i *ngIf="paginationOptions.sort === field"
                    class="bi ms-3 {{ paginationOptions.directionIsAsc() ? 'bi-sort-up' : 'bi-sort-down' }}"></i>
                </a>
              </ng-template>
            </th>
            <th class="pb-3 fw-bold">
              <ng-template #urlCol [ngTemplateOutlet]="urlCol" let-field="field"
                [ngTemplateOutletContext]="{ field: 'url' }">
                <a (click)="changeSort(field)" href="javascript:void(0)">Url
                  <i *ngIf="paginationOptions.sort === field"
                    class="bi ms-3 {{ paginationOptions.directionIsAsc() ? 'bi-sort-up' : 'bi-sort-down' }}"></i>
                </a>
              </ng-template>
            </th>
            <th class="pb-3 fw-bold">
              <ng-template #response_codeCol [ngTemplateOutlet]="response_codeCol" let-field="field"
                [ngTemplateOutletContext]="{ field: 'response_code' }">
                <a (click)="changeSort(field)" href="javascript:void(0)">Status
                  <i *ngIf="paginationOptions.sort === field"
                    class="bi ms-3 {{ paginationOptions.directionIsAsc() ? 'bi-sort-up' : 'bi-sort-down' }}"></i>
                </a>
              </ng-template>
            </th>
            <th class="pb-3 fw-bold"></th>
          </tr>
        </thead>
        <tbody class="fw-semibold text-gray-600">
          <tr *ngIf="data?.length === 0 && loading == false">
            <td colspan="6" class="py-5 text-center">No results found</td>
          </tr>
          <tr *ngFor="let item of data">
            <td>{{ item.date_created  | date: "d MMM, yyyy HH:mm:ss" }}</td>
            <td>{{ item.type }}</td>
            <td placement="top" ngbTooltip="{{ item.url }}">{{ item.url | truncate : 60 }}</td>
            <td>{{ item.response_code }}
            </td>
            <td class="d-flex justify-content-end">
              <a *ngIf="item.type === 'Purchase'" [routerLink]="[routes.inventory.purchase_orders.show, item.uuid]"
                class="btn btn-light btn-lg me-2 fw-bold">
                <i class="bi bi-eye me-2 fw-semibold"></i> Show {{ item.type }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <div class="w-auto" *ngIf="paginatedResults">
          <app-pagination-select [(ngModel)]="paginatedResults.per_page" [options]="[6,10,20,100, 'ALL']"
            [selectedOption]="paginatedResults.per_page" (ngModelChange)="onPerPageChanged()">
          </app-pagination-select>
        </div>
        <div *ngIf="paginatedResults">
          <ngb-pagination [collectionSize]="paginatedResults.total " [(page)]="paginatedResults.current_page"
            [pageSize]="paginatedResults.per_page" [rotate]="true" [boundaryLinks]="true" [maxSize]="5"
            (pageChange)="onPageNumberChanged()">
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
            <ng-template ngbPaginationEllipsis>...</ng-template>
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
