<div *ngFor="let index of [1,2,3,4,5,6,7]" class="border-bottom mb-3 pb-3 d-flex justify-content-start align-items-center">
  <div class="bg-white placeholder-content-item rounded-circle" style="width: 35px; height: 35px;"></div>
  <div style="width: 400px;" class="ms-2">
    <div class="bg-white placeholder-content-item rounded-1 mb-2" style="height: 20px; width: 400px;"></div>
    <div class="bg-white placeholder-content-item rounded-1" style="height: 10px; width: 100px;"></div>
  </div>
</div>

